body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    text-align: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cow.png");
    background-size: cover;
    background-position: fixed;
}

.container {    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

h2 {
    font-size: 14px;
    margin-bottom: 0px;
}

#countdown {
    font-size: 20px;
    margin-bottom: 0px;
}

.author {
    font-size: 12px;
    margin-bottom: 0;
}